.advantage__title {
  font-family: $main-font-family;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.advantage__text {
  font-family: $main-font-family;
  color: $secondary-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.advantage__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: -30px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }

     @media screen and (min-width: 768px) {
     width: 750px;
     }

  }


.advantage__item {
  margin-bottom: 30px;
&:last-child{
  margin-bottom: 0px;}
  
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    padding-right: 30px;
    padding-bottom: 30px;
  }

  @media screen and(min-width:1200px) {
    width: 270px;
    height: 251px;
  }
}

.advantage__image {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: $secondary-background-color;
}
