.header {
  position: relative;
  @media screen and (max-width: 767px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  // &__container {
  //   display: flex;
  //   align-items: center;
  // }
  &__logo {
    @media screen and (min-width: 768px) {
      margin-right: 88px;
    }
  }
}

.header__main-nav {
  align-items: center;
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}
