.header {
  position: relative;
}

.header__main-nav {
  align-items: center;
  justify-content: space-between;
  height: 60px;

  @media screen and (max-width: 480px) {
    display: flex;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }
}
