.hero {
  text-align: center;
  padding: 118px 0;
  max-width: 1600px;
  justify-content: center;
  margin: 0 auto;
  background-position: center;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay-tab1x.jpg);

  @media screen and(min-width:768px) {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/overlay-desk1x.jpg);
  }
  @media screen and(min-width:1200px) {
    padding: 200px 0;
  }
}

.hero__hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $primari-background-color;
  font-family: $main-font-family;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero__button-primary {
  display: inline-block;
  align-items: center;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 136px;
  border: none;

  font-family: $main-font-family;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: $accent-color;
  color: $primari-background-color;
  font-family: inherit;
  cursor: pointer;

  transition-property: $accent-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
