.burger-menu {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 10;

  .burger-icon:hover,
  .burger-icon:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  .icon-close {
    display: none;
  }

  &.is-open .icon-close {
    display: block;
  }

  &.is-open .icon-burger {
    display: none;
  }
}

.burger-container {
  display: flex;

  @media screen and (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    padding: 48px 40px;

    flex-direction: column;
    width: 100%;
    height: 100%;
    transform: translateX(100%);

    background-color: #fff;

    transition: transform 400ms;

    &.is-open {
      transform: translateX(0);
    }
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
    width: 100%;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
  }
}

.site-nav {
  @media screen and (max-width: 767px) {
    margin-bottom: auto;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 94px;
  }

  &__item {
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 32px;
      }

      @media screen and (min-width: 768px) {
        margin-right: 50px;
      }
    }
  }

  .site-nav__link {
    color: $primary-text-color;

    & {
      position: relative;
    }
    &.current::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
    }

    @media screen and (max-width: 767px) {
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 1.18;
      letter-spacing: 0.02em;
    }

    @media screen and (min-width: 768px) {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }

    &:hover,
    &:focus {
      color: $accent-color;
    }

    &.current {
      color: $accent-color;
    }
  }
}

.contact-nav {
  @media (max-width: 767px) {
    margin-bottom: 64px;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
    display: block;
    &__contact-icon {
      margin-right: 10px;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;

      @media screen and (min-width: 768px) {
        margin-bottom: 10px;
      }

      @media screen and (min-width: 1200px) {
        margin-right: 50px;
      }
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }
}

.contact-nav__contact-tel {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  fill: currentColor;

  @media (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
  }

  @media screen and (min-width: 768px) {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.18;
    color: $accent-color;
    .contact-nav__contact-icon {
      display: none;
    }
  }
}

.contact-nav__contact-mail {
  font-weight: 500;
  color: $secondary-text-color;
  fill: currentColor;
  letter-spacing: 0.02em;
  line-height: 1.17;

  @media (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
  }
  @media screen and (min-width: 768px) {
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
    .contact-nav__contact-icon {
      display: none;
    }
  }
}

.burger-menu-socials {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  font-family: $main-font-family;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accent-color;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger-menu-item {
  &:not(:last-child) {
    padding-right: 10px;

    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.burger-menu-link {
  color: currentColor;
}
